body { 
    background-color: #0b1736;
    color: white;
}

.card { 
    text-align: center;
}

body { 
    text-align: center;
}

a {
    color: #4da6ff;
    text-decoration: none;
    
}

a:hover {
    color: white; 
}

footer { 
 margin-top: 50px; 
 font-size: 14px;
}

ul {
    list-style: none;
    padding: 0
}

h1 {
    margin-left: 20px;
}

.card {
    text-align: center; 
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    margin-top: 40px;
}

footer {
    margin-top: 30px;
}

a {
    margin-right: 10px;
}

.thanks {
    margin-top: 5px;
}

.thanks {
    margin-top: 10px;
}